
<div class="header">
	<div class="logo">
		<h1><i class="fa fa-plane  aireoplane" aria-hidden="true"></i></h1>
		<span class="font-weight700 flightbok" >FLIGHT BOOKING</span>
	</div>

	<div class="buttons right">
		<a class="font-weight700" routerLink="/flightlist">FlightList</a>
		<a class="font-weight700" routerLink="/dashboard">Dashboard</a>
		<a class="font-weight700" routerLink="/customer">Customer</a>
		<a class="font-weight700" routerLink="/feedback/viewfeedback">Feedback</a>
		<a class="font-weight700" href="/login">Logout</a>
		<!-- <a href="#">{{today | date:'fullTime'}}</a> -->
		<!-- <a href="#">{{2| testpipe:2}}</a> -->
	</div>
	<!-- <div>
		<ul *ngFor="let user of getData">
			<li>{{user.username}}</li>
			<li>{{user.email}}</li>
		</ul>
	</div> -->
</div>
