
<div class="header">
	<div class="logo">
		<h1><i class="fa fa-plane  aireoplane" aria-hidden="true"></i></h1>
	</div>
	<div class="buttons right">
		<a routerLink="/flightlist">FlightList</a>
		<a  routerLink="/dasboard">Dashboard</a>
		<a href="/customer">Customer</a>
		<a href="/login">Logout</a>
		<!-- <a href="#">{{today | date:'fullTime'}}</a> -->
		<!-- <a href="#">{{2| testpipe:2}}</a> -->
	</div>
	<!-- <div>
		<ul *ngFor="let user of getData">
			<li>{{user.username}}</li>
			<li>{{user.email}}</li>
		</ul>
	</div> -->
</div>
