
  .header {
    background: #2f96f2;
    height: 60px;
    position: relative;
  }
  .header .logo {
    position: absolute;
    left: 16px;
  }
  .header h1 {
    margin: 0;
    padding: 14px 0;
    color: #f0f6fb;
  }
  .header .buttons.right {
    position: absolute;
    right: 16px;
    top: 12px;
  }
  .header .buttons a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }
  .aireoplane
  {
    position: absolute;
    top: 7px;
    font-size: 50px;
    left: 14px;
  }
  .font-weight700
  {
    font-weight:700!important;
  }
  .flightbok
  {
    margin-left: 79px!important;
    color: #fff!important;
    position: relative!important;
    top: -10px!important;
  }
  .profile-pic {
    height:40px;
    position: relative;
    width:40px;
    top:-1px;
    margin-left: 10px;
    bottom: 4px;
    object-fit: center;
    border-radius: 50%;
    border: 2px solid #2f96f2;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    right: -16px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logout
  {
    color: #010406!important;
  }