<div class="container">
    <h1>Flight List</h1>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col">Flight Name</div>
          <div class="col">Departure</div>
          <div class="col">Duration</div>
          <div class="col">Arrival</div>
          <div class="col d-flex justify-content-end">Price</div>
          <div class="col d-flex justify-content-end"></div>
        </div>
      </div>
    </div>
    <div class="card white-transparent"  *ngFor="let item of arr">
      <div class="card-body">
        <div class="row">
          <div class="col">
          <img width={{40}} src="{{item.images}}" alt="indigo Logo" />   IndiGo
          </div>
          <div class="col">{{item.flightname}}</div>
          <div class="col">{{item.Departure}}</div>
          <div class="col">{{item.Duration}}</div>
          <div class="col d-flex justify-content-end">{{item.Arrival}}</div>
          <div class="col">{{item.Price}}</div>
          <div class="col d-flex justify-content-end">
            <button class="btn btn-primary ">Book</button>
          </div>
        </div>
      </div>
    </div>
  </div>
