<div class="container ">
    <div class="row">
        <div class="col">
            <h2 class="mt-5">Search Flight</h2>
        </div>
        </div>
  <!-- Top Card -->
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1"
              >Normal Booking</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2"
              >Buzz Booking</label
            >
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="card top-card position-relative transparent-white">
        <div class="card-body">
          <form  [formGroup]="registerForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1"
                    >ONW WAY</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                  />
                  <label class="form-check-label" for="inlineRadio2"
                    >ROUND TRIP</label
                  >
                </div>
              </div>
              <div class="col-md-12 mb-10">
                <div class="row g-3 mt-10">
                  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
                    <label for="from" class="visually-hidden">From</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="From"
                      formControlName="from"
                      [ngClass]="{ 'is-invalid': submitted && f.from.errors }"
                    />
                    <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
                      <div *ngIf="f.from.errors.required">From is required</div>
                  </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
                    <label for="to" class="visually-hidden">To</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="To"
                      formControlName="to"
                      [ngClass]="{ 'is-invalid': submitted && f.to.errors }"
                    />
                    <div *ngIf="submitted && f.to.errors" class="invalid-feedback">
                      <div *ngIf="f.to.errors.required">To is required</div>
                  </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
                    <label for="departureDate" class="visually-hidden"
                      >Departure Date</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      placeholder="Date"
                      formControlName="fromdate"
                      [ngClass]="{ 'is-invalid': submitted && f.fromdate.errors }"
                    />
                    <div *ngIf="submitted && f.fromdate.errors" class="invalid-feedback">
                      <div *ngIf="f.fromdate.errors.required">From Date is required</div>
                  </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
                    <label for="returnDate" class="visually-hidden"
                      >Return Date</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      placeholder="Date"
                      formControlName="todate"
                      [ngClass]="{ 'is-invalid': submitted && f.todate.errors }"
                    />
                    <div *ngIf="submitted && f.todate.errors" class="invalid-feedback">
                      <div *ngIf="f.todate.errors.required">To Date is required</div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3 mb-3 fare-type-button-wrapper">
              <div class="col-md-12">
                <button class="btn btn-primary mb-2 mr-2 " type="button">
                  Regular Fare
                </button>
                <button class="btn btn-info mb-2 mr-2 ml-10" type="button">
                  Student Fare
                </button>
                <button class="btn btn-info mb-2 ml-10" type="button">
                  Double Seat
                </button>
              </div>
            </div>
            <button class="btn btn-primary card-search-btn mt-5 " (click)="onSubmit()" type="button">
              Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>



<div class="container" *ngIf="flightlist">
   <h2 class="mt-5">Flight List</h2>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col">Flight Name</div>
        <div class="col">Departure</div>
        <div class="col">Duration</div>
        <div class="col">Arrival</div>
        <div class="col d-flex justify-content-end">Price</div>
        <div class="col d-flex justify-content-end"></div>
      </div>
    </div>
  </div>
  <div class="card white-transparent"  *ngFor="let item of arr1">
    <div class="card-body">
      <div class="row">
        <div class="col">
        <img width={{40}} src="{{item.images}}" alt="indigo Logo" />   IndiGo
        </div>
        <div class="col">{{item.flightname}}</div>
        <div class="col">{{item.Departure}}</div>
        <div class="col">{{item.Duration}}</div>
        <div class="col d-flex justify-content-end">{{item.Arrival}}</div>
        <div class="col">{{item.Price}}</div>
        <div class="col d-flex justify-content-end">
          <button class="btn btn-primary " routerLink="/flightbook">Book</button>
        </div>
      </div>
    </div>
  </div>
</div>
